
/*seg_desktop_include.css*/

/*s-fonts.css*/
@font-face {
	font-family: 'NeoSans';
	src: url('/css/fonts/NeoSansStd-Regular.woff') format('woff'),
		 url('/css/fonts/NeoSansStd-Regular.ttf') format('truetype'),
		 url('/css/fonts/NeoSansStd-Regular.svg#NeoSansStd-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'NeoSans';
	src: url('/css/fonts/NeoSansStd-Bold.woff') format('woff'),
		 url('/css/fonts/NeoSansStd-Bold.ttf') format('truetype'),
		 url('/css/fonts/NeoSansStd-Bold.svg#NeoSansStd-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'NeoSans';
	src: url('/css/fonts/NeoSansStd-Medium.woff') format('woff'),
		 url('/css/fonts/NeoSansStd-Medium.ttf') format('truetype'),
		 url('/css/fonts/NeoSansStd-Medium.svg#NeoSansStd-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}


/*s-page.css*/
* {font-family: "NeoSans", Arial, sans-serif; color: #000000; font-size: 13px;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
html {min-height: 100%;}
body {background: #000000 url(/img/assets/desktop/bg.jpg) no-repeat center top; margin: 0; overflow-y: scroll; overflow-x: hidden;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: normal;}
ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 14px; color: #000000;}
input, textarea {outline: none;}
a, span {font-size: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
em, strong {font-size: inherit; font-family: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
h1 {padding: 0 50px 30px; font-size: 48px; line-height: 1.05em;}
h2 {padding: 0 50px 30px; font-size: 30px; line-height: 1.1em;}
h3 {padding: 0 50px 10px; font-size: 20px; line-height: 1.25em;}
h4 {padding: 0 50px 5px; font-size: 14px; line-height: 1em;}
h5 {padding: 0 50px 2px; font-size: 14px; line-height: 1em;}
h6 {padding: 0 50px 2px; font-size: 14px; line-height: 1em;}
p {padding: 0 50px 20px; font-size: 14px; line-height: 1.38em;} 
#page {position: absolute; top: 0; left: 0; min-height: 600px; min-width: 768px; overflow: hidden;}
body > div.OverlayProtection {position: fixed; z-index: 102; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); opacity: 0;}
body > div.Overlay {opacity: 0; position: fixed; z-index: 103; background-color: rgba(0, 0, 0, 0.7); box-shadow: 0 0 20px 10px #000000; overflow: hidden; overflow-y: auto; outline: none;}
body > div.Overlay * {color: #ffffff;}
body > div.Overlay .scene {padding: 40px 0;}
body > div.Overlay .scene h1 {text-shadow: 0 0 30px #d4ff3d;}
body > div.overlayClose {z-index: 110; position: fixed; top: 20px; right: 0; width: 104px; height: 93px; cursor: pointer;
	background: transparent url(/img/assets/desktop/btn_close.png) no-repeat top left;
}
body > div.Overlay ul+h2,
body > div.Overlay p+h2 {padding-top: 10px;}
body > div.Overlay h2 {padding-bottom: 20px;}
body > div.Overlay ul {padding: 0 50px 20px; margin: 0 20px; list-style: disc;}
body > div.Overlay ul li {display: list-item; padding: 0 0 7px;}
body > div.Overlay.prizes {box-shadow: none;
	background: transparent url(/img/assets/desktop/screen.png) no-repeat top center;
}
body > div.Overlay.prizes h1 {position: absolute; top: 98px; left: 238px; width: 200px; height: 50px;
	background-position: center center;
	background-repeat: no-repeat;
}
body > div.Overlay.prizes span.prev {
	background: transparent url(/img/assets/desktop/prize_arrow_left.png) no-repeat top left; 
	cursor: pointer;
	z-index: 110; position: absolute; top: 350px; left: 71px; width: 30px; height: 50px;
}
body > div.Overlay.prizes span.next {
	background: transparent url(/img/assets/desktop/prize_arrow_right.png) no-repeat top left; 
	cursor: pointer;
	z-index: 110; position: absolute; top: 350px; right: 65px; width: 30px; height: 50px;
}
body > div.Overlay.prizes div.prizes {z-index: 9; position: absolute; top: 188px; left: 77px; width: 620px; height: 365px; border-radius: 7px; overflow: hidden;}
body > div.Overlay.prizes ul {list-style: none; padding: 0; margin: 0; width: 4800px; height: 365px; font-size: 0;}
body > div.Overlay.prizes ul li {display: inline-block; vertical-align: top; width: 620px; height: 365px;
	background-position: top left;
	background-repeat: no-repeat;
	background-color: transparent;
}
body > div.Overlay.prizes ul li.week0 {background-image: url(/img/assets/desktop/prize_week0.jpg);}
body > div.Overlay.prizes ul li.week1 {background-image: url(/img/assets/desktop/prize_week1.jpg);}
body > div.Overlay.prizes ul li.week2 {background-image: url(/img/assets/desktop/prize_week2.jpg);}
body > div.Overlay.prizes ul li.week3 {background-image: url(/img/assets/desktop/prize_week3.jpg);}
body > div.Overlay.prizes ul li.week4 {background-image: url(/img/assets/desktop/prize_week4.jpg);}
body > div.Overlay.prizes ul li.week5 {background-image: url(/img/assets/desktop/prize_week5.jpg);}
body > div.Overlay.prizes ul li.week6 {background-image: url(/img/assets/desktop/prize_main.jpg);}
body > div.Overlay.error {text-align: center;}
body > div.Overlay.error h1 {text-shadow: 0 0 30px #d4ff3d; padding: 180px 30px 30px;}
body > div.Overlay.error div.close {display: none;}
body > .terms_notification {opacity: 0; position: fixed; z-index: 100; bottom: 0; left: 0px; padding: 15px 20px; width: 100%; background: rgba(0, 0, 0, 0.8); box-sizing: border-box;}
body > .terms_notification p {padding: 0 0 15px; font-size: 13px; color: #ffffff; text-align: center;}
body > .terms_notification ul.actions {text-align: center;}
body > .terms_notification .accept,
body > .terms_notification .details {padding: 0 20px; font-size: 16px; display: inline-block; vertical-align: top; color: #ffffff; cursor: pointer;}
body > .terms_notification .accept:hover,
body > .terms_notification .details:hover {text-decoration: underline;}
#page > div.jan {z-index: 1; opacity: 0; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center top;
}
#page div.audioSwitch {z-index: 100;
	position: absolute; bottom: -10px; right: -20px; width: 99px; height: 72px; cursor: pointer;
	background: transparent url(/img/assets/desktop/sound_on.png) no-repeat center center;
}
#page div.audioSwitch.off {
	background-image: url(/img/assets/desktop/sound_off.png);
}
body > div.badorientation {z-index: 500; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 750px auto;
	background-image: url(/img/badorientation-tablet.jpg);
}

/*s-header.css*/
#header {position: fixed; z-index: 100; top: 0; left: 0;}
#header .logo {z-index: 2; position: relative; width: 275px; height: 80px; cursor: pointer;
	background: transparent url(/img/assets/desktop/logo.png) no-repeat center top;
}
#header .ved_logo {z-index: 1; width: 312px; height: 202px; opacity: 0; position: absolute; top: 0; left: 0; background: transparent url(/img/assets/desktop/ved_small.png) no-repeat top left;}
#header .servicenavigation {display: none;}
#navigation {z-index: 101; position: fixed; right: 20px; top: 20px;}
#navigation ul {}
#navigation ul li {display: inline-block; vertical-align: top; padding: 10px 20px; font-size: 15px; color: #ffffff; text-indent: -9999px; height: 30px; cursor: pointer; opacity: 0;
 	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
}
#navigation ul li.front {display: none;}
#navigation ul li.prizes {width: 67px;
	background-image: url(/img/assets/desktop/menu_prizes.png);
}
#navigation ul li.prizes:hover {
	background-image: url(/img/assets/desktop/menu_prizes_rollover.png);
}
#navigation ul li.rules {width: 140px;
	background-image: url(/img/assets/desktop/menu_rules.png);
}
#navigation ul li.rules:hover {
	background-image: url(/img/assets/desktop/menu_rules_rollover.png);
}
#navigation ul li.terms {width: 95px;
	background-image: url(/img/assets/desktop/menu_terms.png);
}
#navigation ul li.terms:hover {
	background-image: url(/img/assets/desktop/menu_terms_rollover.png);
}


/*s-footer.css*/
#footer {display: none;}


/*s-content.css*/
#content {z-index: 2; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#content .scene {position: relative; width: 1024px; height: 600px;
}
#content .scene .link {cursor: pointer;}
#content .scene a {color: #888888;}
#content .scene h1,
#content .scene h2,
#content .scene h3,
#content .scene h4,
#content .scene h5,
#content .scene h6,
#content .scene p {}
#content .scene .intro {opacity: 0;}
#content .scene .front {opacity: 0;}
#content .scene .front canvas {position: absolute; top: 0; left: 0;}
#content .scene .game {}
#content .scene .game canvas {position: absolute; top: 0; left: 0;}
#content .scene .game canvas.game_screen {z-index: 30;}
#content .scene .game canvas.game_bricks {z-index: 40;}
#content .scene .game canvas.game_selector {z-index: 40;}
#content .scene .game canvas.game_already_played {z-index: 40;}
#content .scene .game canvas.game_signup_already_played {z-index: 40;}
#content .scene .game canvas.game_question {z-index: 50;}
#content .scene .game canvas.torkild {z-index: 65; left: auto; right: 10px; width: 345px; height: 345px;}
#content .scene .game canvas.game_receipt {z-index: 50;}
#content .scene .game canvas.game_signup_receipt {z-index: 50;}
#content .scene .game canvas.ticket {z-index: 65; top: 400px; left: 185px; width: 180px; height: 180px;}
#content .scene .game canvas.btn_play_more {z-index: 51; top: 460px; left: 528px; width: 300px; height: 145px;}
#content .scene .game canvas.btn_play_more.single {top: 440px;}
#content .scene .game canvas.btn_signup {z-index: 50; top: 415px; left: 528px; width: 300px; height: 145px;}
#content .scene .game canvas.btn_signup.single {top: 440px;}
#content .scene .game canvas.btn_signup_confirm {z-index: 60; top: 325px; left: 528px; width: 300px; height: 163px;}
#content .scene .game canvas.btn_continue {z-index: 50; top: 437px; left: 354px; width: 300px; height: 145px;}
#content .scene .game canvas.btn_submit {z-index: 51; top: 357px; left: 554px; width: 300px; height: 145px;}
#content .scene .game canvas.btn_regret {z-index: 50; top: 408px; left: 554px; width: 300px; height: 145px;}
#content .scene .game div.torkild {z-index: 66; position: absolute; top: 160px; right: 100px; width: 170px; height: 50px; cursor: pointer;}
#content .scene .game p.torkild_hint {z-index: 64; position: absolute; top: 200px; right: 80px; width: 205px; height: 180px; border-radius: 20px; background: rgba(0, 0, 0, 0.8); opacity: 0; padding: 0;}
#content .scene .game p.torkild_hint span {display: block; padding: 70px 10px 10px; color: #ffffff; text-align: center;}
#content .scene .game div.question {z-index: 60;}
#content .scene .game div.question {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#content .scene .game div.question h2 {display: table; width: 624px; height: 230px; margin: 200px 200px 0; padding: 0; opacity: 0;}
#content .scene .game div.question h2 span {display: table-cell; vertical-align: middle; text-align: center; padding: 0 100px; color: #ffffff; font-weight: 500; text-shadow: 0 0 30px #d4ff3d;}
#content .scene .game div.question ul.answers {margin: 3px 200px 0;}
#content .scene .game div.question ul.answers li {display: inline-block; vertical-align: top; width: 229px; height: 51px; padding: 2px 20px 0 45px; margin: 0 0 6px 13px; opacity: 0; cursor: pointer;}
#content .scene .game div.question ul.answers li > span {display: table; height: 100%; width: 100%;}
#content .scene .game div.question ul.answers li > span > span {display: table-cell; vertical-align: middle; font-size: 13px; line-height: 1.1em; font-weight: 500;}
#content .scene .game div.receipt {z-index: 60; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
	background: transparent url(/img/assets/desktop/screen_footer.png) no-repeat 203px 185px;
}
#content .scene .game div.receipt div.table {display: table; width: 624px; height: 230px; margin: 200px 200px 0;}
#content .scene .game div.receipt div.table div.cell {display: table-cell; vertical-align: middle; text-align: center; padding: 0 100px;}
#content .scene .game div.receipt h2 {padding: 0 0 30px; opacity: 0; color: #ffffff; font-weight: 500; text-shadow: 0 0 5px #d4ff3d;}
#content .scene .game div.receipt p {opacity: 0; color: #ffffff;}
#content .scene .game div.receipt p a {color: #ffffff; text-decoration: underline;}
#content .scene .game div.receipt div.actions_table {z-index: 55; position: absolute; top: 433px; right: 230px; width: 225px; height: 110px; display: table;}
#content .scene .game div.receipt div.actions_cell {display: table-cell; vertical-align: middle;}
#content .scene .game div.receipt ul.actions {}
#content .scene .game div.receipt ul.actions li {display: block; opacity: 0; text-indent: -9999px; cursor: pointer; background-color: transparent; background-repeat: no-repeat; background-position: -38px -24px; padding: 0; width: 225px; height: 50px;}
#content .scene .game div.receipt div.confirm {z-index: 55; position: absolute; top: 242px; right: 209px; width: 276px; height: 210px; opacity: 0;
	background: transparent url(/img/assets/desktop/confirm_bg.png) no-repeat top left;
}
#content .scene .game div.receipt div.confirm h3 {padding: 20px 30px 10px; font-size: 16px; text-align: center;
	font-weight: 500;
}
#content .scene .game div.receipt div.confirm p {padding: 0 30px; color: #000000; text-align: center; opacity: 1; font-size: 12px;
	font-weight: 500;
}
#content .scene .game div.receipt h3.status {padding: 0; opacity: 0; font-size: 13px; position: absolute; top: 463px; left: 355px; width: 195px; height: 100px;}
#content .scene .game div.receipt h3.status span {display: block;}
#content .scene .game div.receipt h3.status span.prize {font-weight: 500;}
#content .scene .game div.already_played {z-index: 60; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#content .scene .game div.already_played div.table {display: table; width: 624px; height: 230px; margin: 200px 200px 0;}
#content .scene .game div.already_played div.table div.cell {display: table-cell; vertical-align: middle; text-align: center; padding: 0 100px;}
#content .scene .game div.already_played h2 {padding: 0 0 30px; opacity: 0; color: #ffffff; font-weight: 500; text-shadow: 0 0 5px #d4ff3d;}
#content .scene .game div.signup {z-index: 60; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#content .scene .game div.signup form {width: 618px; height: 364px; margin: 188px 194px 0 206px; opacity: 0; position: relative; z-index: 55; font-size: 0;}
#content .scene .game div.signup h2 {padding: 60px 0 30px; font-size: 26px; opacity: 0; color: #ffffff; font-weight: 500; text-shadow: 0 0 5px #d4ff3d; text-align: center;}
#content .scene .game div.signup div.continue {position: absolute; z-index: 55; top: 467px; left: 397px; width: 212px; height: 40px; cursor: pointer;}
#content .scene .game div.signup div.field {display: none; opacity: 0;}
#content .scene .game div.signup fieldset.data {position: absolute; top: 200px; left: 0; padding: 10px; font-size: 0;}
#content .scene .game div.signup div.field.email {opacity: 1; margin-left: 88px; display: inline-block;}
#content .scene .game div.signup div.field.email input {padding: 13px 15px 11px; width: 366px;}
#content .scene .game div.signup div.field.address input {width: 558px;}
#content .scene .game div.signup div.field.email.loading input {
	background-image: url(/img/gx_loader.gif);
	background-position: 360px center;
	background-repeat: no-repeat;
}
#content .scene .game div.signup fieldset.permissions {display: none; opacity: 0; padding: 15px 10px 0; vertical-align: top; width: 370px;}
#content .scene .game div.signup fieldset.permissions .field {padding-bottom: 15px;}
#content .scene .game div.signup fieldset.permissions label {color: #ffffff; font-size: 13px; line-height: 1.2em; width: 330px;}
#content .scene .game div.signup ul.actions {display: none; opacity: 0; padding: 17px 0 0 0; vertical-align: top; width: 215px;}
#content .scene .game div.signup ul.actions li {display: block; height: 40px; padding: 0; margin-bottom: 10px;}
#content .scene .game div.signup ul.actions li input {width: 100%; height: 37px; opacity: 0;}
#content .scene .game div.signup_receipt {z-index: 40; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0;
	background: transparent url(/img/assets/desktop/screen_footer.png) no-repeat 203px 185px;
}
@media screen and (min-width:0\0) {
	#content .scene .game div.signup div.continue,
	#content .scene .game div.question ul.answers,
	#content .scene .game div.receipt div.actions_table {
		background-color: rgba(255,255,255,0.01);
	}
}


/*s-form.css*/
#content {}
#content form {}
#content fieldset {border: none; display: block;}
#content .field {padding: 0 5px 5px; position: relative; font-size: 0; z-index: 1; display: inline-block; vertical-align: top;}
#content label {display: none;}
#content .field input {box-shadow: inset 0 1px 2px #dedede; background: #ffffff; border: none; display: inline-block; vertical-align: top; border-radius: 6px; margin: 0; outline: none; position: relative; z-index: 1;
}
#content .field input {width: 259px; height: 24px; padding: 8px 15px 6px;}
#content .field .pseudolabel {position: absolute; font-size: 14px; display: inline-block; padding: 5px 6px; z-index: 2;}
#content .field.checkbox,
#content .field.boolean {}
#content .field.checkbox input,
#content .field.boolean input {display: inline-block; vertical-align: top; width: auto; height: auto; padding: 0; margin: 1px 10px 0 3px; border: 0;}
#content .field.checkbox label,
#content .field.boolean label {width: auto; display: inline-block; vertical-align: top; font-size: 14px; line-height: 1em;}
#content .field.focus input {}
#content .field.focus input {}
#content .field.checkbox.focus input,
#content .field.boolean.focus input {}
#content .field input.default,
#content .field .pseudolabel {color: #aaaaaa;}
#content .field .indicator {display: none;}
#content .field.error input {color: #e42414;}
#content .field.checkbox.error label {color: #e42414 !important;}
#content ul.actions {}
#content ul.actions li {width: auto; height: auto; display: inline-block; padding: 0 10px 10px 0; vertical-align: top;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#content ul.actions input.button {width: auto; height: 28px; padding: 3px 9px; display: inline-block; vertical-align: top;}
@media all and (-webkit-min-device-pixel-ratio:0) {
	#content ul.actions input.button {padding: 3px 12px 5px;}
}
#content ul.actions a.button {display: block; text-decoration: none; height: 14px; padding: 6px 12px 8px;}
#content ul.actions input.button,
#content ul.actions a.button {font-size: 14px; background-color: #dedede; color: #333333; border: none; cursor: pointer; border-radius: 3px;}
#content ul.actions input.button.primary,
#content ul.actions a.button.primary {background-color: #8c9399; color: #ffffff;}
#content ul.actions input.button.secondary,
#content ul.actions a.button.secondary {background-color: #8c9399; color: #ffffff;}
#content .field div.help {display: none;}


/*s-hovers.css*/
#header .logo:hover,
#navigation ul li:hover {text-decoration: none;}
#content .scene a:hover {text-decoration: underline;}
#content ul.actions input.button:hover,
#content ul.actions a.button:hover {background-color: #bebebe;}
#content ul.actions input.button.primary:hover,
#content ul.actions a.button.primary:hover {background-color: #313942;}
#content ul.actions input.button.secondary:hover,
#content ul.actions a.button.secondary:hover {background-color: #313942;}

